[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
neomodel = "~=5.2.0"
fastapi = "*"
uvicorn = "*"

[dev-packages]

[requires]
python_version = "3.12"

[scripts]
dev = "uvicorn --host=0.0.0.0 --port=8000 src.main:app --reload"
